# No 1

In [21]:
# Menambahkan Kolom Baru "Domisili_asal"

import pandas as pd

data = {'Nama'    : ['Ana','Anu','Ano','Ani','Ane','Abu','Abi'],
        'Kelas'   : ['2A','2B','2C','2D','2E','2F','2G'],
        'Gender'  : ['Cewek','Cowok','Cowok','Cewek','Cewek','Cowok','Cowok'],
        'Nomor_HP': ['08113322582','08129988563','08137896541','08144447789','08158886665','08173337744','08198877444']}

df = pd.DataFrame(data)

df['Domisili_asal'] = ['Pekanbaru ','Pekanbaru ','Luar kota ','Pekanbaru ','Luar kota ','Luar kota ','Pekanbaru ']
print("DataFrame setelah menambahkan kolom 'Domisili_asal':")
print("\n")
print(df)
print("\n")

DataFrame setelah menambahkan kolom 'Domisili_asal':


  Nama Kelas Gender     Nomor_HP Domisili_asal
0  Ana    2A  Cewek  08113322582    Pekanbaru
1  Anu    2B  Cowok  08129988563    Pekanbaru
2  Ano    2C  Cowok  08137896541    Luar kota
3  Ani    2D  Cewek  08144447789    Pekanbaru
4  Ane    2E  Cewek  08158886665    Luar kota
5  Abu    2F  Cowok  08173337744    Luar kota
6  Abi    2G  Cowok  08198877444    Pekanbaru

# No 2

In [20]:
# Menghapus Kolom "Nomor_HP"

import pandas as pd

data = {'Nama'          : ['Ana','Anu','Ano','Ani','Ane','Abu','Abi'],
        'Kelas'         : ['2A','2B','2C','2D','2E','2F','2G'],
        'Gender'        : ['Cewek','Cowok','Cowok','Cewek','Cewek','Cowok','Cowok'],
        'Nomor_HP'      : ['08113322582','08129988563','08137896541','08144447789','08158886665','08173337744','08198877444'],
        'Domisili_asal' : ['Pekanbaru ','Pekanbaru ','Luar kota ','Pekanbaru ','Luar kota ','Luar kota ','Pekanbaru ']}

df = pd.DataFrame(data)

df = df.drop(columns=['Nomor_HP'])
print("DataFrame setelah menghapus kolom 'Nomor_HP':")
print("\n")
print(df)
print("\n")

DataFrame setelah menghapus kolom 'Nomor_HP':


  Nama Kelas Gender Domisili_asal
0  Ana    2A  Cewek    Pekanbaru
1  Anu    2B  Cowok    Pekanbaru
2  Ano    2C  Cowok    Luar kota
3  Ani    2D  Cewek    Pekanbaru
4  Ane    2E  Cewek    Luar kota
5  Abu    2F  Cowok    Luar kota
6  Abi    2G  Cowok    Pekanbaru

# No 3

In [22]:
# Menambahkan Kolom Baru "Usia"

import pandas as pd

data = {'Nama'    : ['Ana','Anu','Ano','Ani','Ane','Abu','Abi'],
        'Kelas'   : ['2A','2B','2C','2D','2E','2F','2G'],
        'Gender'  : ['Cewek','Cowok','Cowok','Cewek','Cewek','Cowok','Cowok'],
        'Nomor_HP': ['08113322582','08129988563','08137896541','08144447789','08158886665','08173337744','08198877444'],
        'Domisili_asal' : ['Pekanbaru ','Pekanbaru ','Luar kota ','Pekanbaru ','Luar kota ','Luar kota ','Pekanbaru ']}

df = pd.DataFrame(data)

df['Usia'] = ['8 ','8 ','7 ','8 ','7 ','7 ','8 ']
print("DataFrame setelah menambahkan kolom 'Usia':")
print("\n")
print(df)
print("\n")

DataFrame setelah menambahkan kolom 'Usia':


  Nama Kelas Gender     Nomor_HP Domisili_asal Usia
0  Ana    2A  Cewek  08113322582    Pekanbaru    8
1  Anu    2B  Cowok  08129988563    Pekanbaru    8
2  Ano    2C  Cowok  08137896541    Luar kota    7
3  Ani    2D  Cewek  08144447789    Pekanbaru    8
4  Ane    2E  Cewek  08158886665    Luar kota    7
5  Abu    2F  Cowok  08173337744    Luar kota    7
6  Abi    2G  Cowok  08198877444    Pekanbaru    8

# No 4

In [25]:
# Menghitung rata-rata Usia dan total Usia

import pandas as pd

data = {'Nama'          : ['Ana','Anu','Ano','Ani','Ane','Abu','Abi'],
        'Kelas'         : ['2A','2B','2C','2D','2E','2F','2G'],
        'Gender'        : ['Cewek','Cowok','Cowok','Cewek','Cewek','Cowok','Cowok'],
        'Nomor_HP'      : ['08113322582','08129988563','08137896541','08144447789','08158886665','08173337744','08198877444'],
        'Domisili_asal' : ['Pekanbaru ','Pekanbaru ','Luar kota ','Pekanbaru ','Luar kota ','Luar kota ','Pekanbaru '],
        'Usia'          : [8,8,7,8,7,7,8]}


df = pd.DataFrame(data)

rata_usia = df['Usia'].mean()
print("Rata-rata usia:", rata_usia)
print("\n")

total_usia = df['Usia'].sum()
print("Total usia:", total_usia)
print("\n")

Rata-rata usia: 7.571428571428571


Total usia: 53

# No 5

In [50]:
# Menghitung jumlah yang berasal dari "Pekanbaru" dan "Luar Kota"

import pandas as pd

data = {'Nama'          : ['Ana','Anu','Ano','Ani','Ane','Abu','Abi'],
        'Kelas'         : ['2A','2B','2C','2D','2E','2F','2G'],
        'Gender'        : ['Cewek','Cowok','Cowok','Cewek','Cewek','Cowok','Cowok'],
        'Nomor_HP'      : ['08113322582','08129988563','08137896541','08144447789','08158886665','08173337744','08198877444'],
        'Domisili_asal' : ['Pekanbaru ','Pekanbaru ','Luar kota ','Pekanbaru ','Luar kota ','Luar kota ','Pekanbaru '],
        'Usia'          : [8,8,7,8,7,7,8]}


df = pd.DataFrame(data)

jumlah_per_kota = df['Domisili_asal'].value_counts()
print("Jumlah yang berasal dari:\n")
print(jumlah_per_kota)

Jumlah yang berasal dari:

Domisili_asal
Pekanbaru     4
Luar kota     3
Name: count, dtype: int64